<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Standard Behavior Tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">STANDARD BEHAVIOR</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="This tab's button counter is *not* persistent across orientation changes"></app-explore-container>

  <ion-button color="warning" (click)="btnClicked()">{{btnCount}}</ion-button>
</ion-content>
